Button {
  background-color: #0000bf;
  color: #ffffff;
  padding: 10px 22px;
  margin: 40px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 25px;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
}

.degree {
  font-size: 20px;
  text-align: left;
}

.degree-name {
  text-align: left;
}

.error-message {
  color: #fd4f00;
  text-align: left;
  padding-bottom: 10px;
}

.exercise-header {
  display: block;
  padding: 10px;
  background-color: #9fc9eb;
  color: #000000;
  font-size: 1.5em;
  text-align: center;
}

.form-box {
  margin-top: 10px;
  padding: 20px;
}

.form-box input,
textarea {
  display: block;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 600px;
  border: 0;
  font-size: 20px;
  text-align: left;
}

.form-box label {
  display: block;
  text-align: left;
  font-size: 20px;
  margin: 0, 0, 2rem, 0;
}

.form-box textarea {
  height: 15rem;
}

.instructions {
  display: block;
  padding: 40px;
  margin: 10px 0;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
}

.instruction-header {
  color: #fd4f00;
  padding-bottom: 10px;
  margin: 0;
  text-align: left;
}

.little-header {
  color: #fd4f00;
  padding-bottom: 10px;
}

select {
  display: block;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 600px;
  border: 0;
  font-size: 20px;
  text-align: left;
}

.success {
  display: block;
  padding: 40px;
  margin: 10px 0;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
}
