.containerDrag {
    margin-top: 10px;
    padding: 20px;
    background-color: #FFFFFF;
  }

.dragCont {
    text-align: center;
    margin: 20px 30px 10px;
  }

  .victoryClass{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-top: -500px;
    position: absolute;
    background-image: url("Pictures/Explode.png");
    background-size: cover;
  }
  
  .victoryClassFire{
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-top: -500px;
    position: absolute;
    background-image: url("Pictures/Firework.png");
    background-size: cover;
  }

.canvas{
    height: 600px;
    width: 600px;
    margin-left: 100px;
    margin-top: 50px;
    background-image: url("Pictures/tree.png");
    background-size: cover;
}
.basket1{
    height: 130px;
    width: 200px;
    transform: translate3d(400px, 470px, 0px);
    position: absolute;
    background-image: url("Pictures/basket.png");
    background-size: cover;
}

.rabbit{
    height: 130px;
    width: 130px;
    transform: translate3d(50px, 470px, 0px);
    position: absolute;
    background-image: url("Pictures/rabbit.png");
    background-size: cover;
}


.headlineDrag{
    display: block;
  padding: 10px;
  background-color: #9FC9EB;
  color: #000000;
  font-size: 1.5em;
}


.ohjeDrag{
    display: block;
    padding: 40px;
    margin: 10px 0;
    text-align: left;
    background-color: #FFFFFF;
    color: #000000;
  }
  
.ohjetxtDrag{
    color: #FD4F00;
    padding-bottom: 10px;
    margin: 0;
  }


.dragObject1{
    height: 52px;
    width: 45px;
    margin-left: 80px;
    margin-top: 220px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/apple.png");
    background-size: cover;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.dragObject2{
    height: 52px;
    width: 45px;
    margin-left: 95px;
    margin-top: 50px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/apple.png");
    background-size: cover;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}
.dragObject3{
    height: 52px;
    width: 45px;
    margin-left: 250px;
    margin-top: 135px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/apple.png");
    background-size: cover;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}
.dragObject4{
    height: 52px;
    width: 45px;
    margin-left: 350px;
    margin-top: 55px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/apple.png");
    background-size: cover;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.dragObject5{
    height: 52px;
    width: 45px;
    margin-left: 200px;
    margin-top: 35px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/Pear.png");
    background-size: cover;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.dragObject6{
    height: 52px;
    width: 45px;
    margin-left: 350px;
    margin-top: 260px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/Pear.png");
    background-size: cover; 
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.dragObject7{
    height: 52px;
    width: 45px;
    margin-left: 450px;
    margin-top: 170px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/Pear.png");
    background-size: cover; 
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.dragObject8{
    height: 52px;
    width: 45px;
    margin-left: 155px;
    margin-top: 130px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/carrot.png");
    background-size: cover;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.dragObject9{
    height: 52px;
    width: 45px;
    margin-left: 225px;
    margin-top: 230px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/carrot.png");
    background-size: cover;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.dragObject10{
    height: 52px;
    width: 45px;
    margin-left: 350px;
    margin-top: 150px;
    border-radius: 25%;
    position: absolute;
    background-image: url("Pictures/carrot.png");
    background-size: cover;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
}


