.fallingWords {
    text-align: center;
    background: white;
    min-height: 968px;
  }

  .canvasWords {
    text-align: center;
    align-items: center;
    background: white;
    height: 600px;
    max-width: 1200px;
    margin-left: 10%;
  }

  .canvas1Words {
    text-align: center;
    align-items: center;
    background: white;
    height: 550px;
    width: 1000px;
    margin-left: 10%;
    border-radius: 40px;
    padding-top: 35px;
  }


  .ohjeWords {
    border-width: 2px;
    padding: 5px;
  }
  .ohjetxtWords {
    color: #0000BF;
  }

  .letterClassWords{
    text-align: center;
    align-items: center;
    background: white;
    height: 550px;
    width: 1000px;
    margin-left: 8.5%;
    border-radius: 40px;
    border-style: inset;
    border-width: 8px;
    border-color: #0000BF;
  }

 .wordInputWords{
    border-style: solid;
    border-width: 5px;
    border-color: #0000BF;
    font-size: large;
    font-weight: 800;
    margin-left: 15%;
 }

.hidebuttonWords{
    display: none;
}
  .lettersWords{
    border-style: solid;
    letter-spacing: 3px;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    width: 35px;
    border: 3px solid black;
    box-shadow: 5px 10px 5px #131111;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    display:inline-table;
    text-shadow: 0 0 3px #802e2e;
    background-color: #FD4F00;
    color:white;
  }

  .letters_lostWords{
    border-style: solid;
    letter-spacing: 3px;
    border-radius: 10px;
    margin: auto;
    margin-top: 19%;
    margin-bottom: 20px;
    width: 50%;
    border: 3px solid black;
    box-shadow: 5px 10px 5px #131111;
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    color:#0000BF;
  }

  .uiWords{
    display:inline-flex;
    padding-right: 20px;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    border-style: solid;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    color: #0000BF;
    background-color: rgb(255, 255, 255);
  }


  .emptyWords{
    margin: 0px;
    color:white;
  }

  .tryWords{
    background-color: #0000BF; 
    border: solid;
    color: white;
    padding: 10px 22px;
    margin-top: 3px;
    margin-right: 13%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
  }
  .tryWords:hover {
    background-color: rgb(95, 99, 167);
  }

  .GameOverButtonsDivWords{
    margin-left: 11%;
  }
  
  .vaikeusTekstiWords{
    font-size: 20px;
  }

  .startbtnWords {
    background-color: #0000BF; 
    border: solid;
    color: white;
    padding: 10px 22px;
    margin-top: 250px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px; 
  }

  .startbtnWords:hover {
    background-color: rgb(95, 99, 167);
  }
  
  .otsikkoWords{
    margin-top: 0px;
    color: #0000BF;
  }

  .pisteetWords{
    color: #0000BF;
  
  }