.containerBlockGame {
  margin-top: 10px;
  padding: 20px;
  background-color: #FFFFFF;
}

.emptyGame {
  margin: 0px;
  color: #FFFFFF;
}

.fallingGame {
  text-align: center;
  margin: 20px 30px 10px;
}

.letterClassGame{
  display: inline-block;
  background: #FFFFFF;
  height: 550px;
  width: 1000px;
  border-style: solid;
  border-width: 5px;
  border-color: #9FC9EB;
}

.lettersGame {
  text-align: center;
  border-style: none;
  letter-spacing: 3px;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  width: 35px;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Oxygen';
  display: inline-table;
  background-color: #FD4F00;
  color: #FFFFFF;
}

.letters_lostGame {
  color: #0000BF;
}

.NextPrac {
  background-color: #9FC9EB; 
  border-style: none;
  color: #000000;
  padding: 10px 22px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px; 
  text-decoration: none;
}

.NextPrac:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.ohjeGame {
  display: block;
  padding: 40px;
  margin: 10px 0;
  text-align: left;
  background-color: #FFFFFF;
  color: #000000;
}

.ohjetxtGame {
  color: #FD4F00;
  padding-bottom: 10px;
  margin: 0;
}

.otsikkoGame {
  display: block;
  padding: 10px;
  background-color: #9FC9EB;
  color: #000000;
  font-size: 1.5em;
}

.pisteetGame {
  color: #FD4F00;
  border-color: #9FC9EB;
  margin: 30px 50px;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
}

.startbtnGame {
  background-color: #0000BF; 
  color: #FFFFFF;
  padding: 10px 22px;
  margin: 40px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 25px; 
}

.startbtnGame:hover {
  background-color: #000000;
}

.tryGame {
  background-color: #0000BF; 
  color: #FFFFFF;
  padding: 10px 22px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 25px; 
}

.tryGame:hover {
  background-color: #000000;
}

.uiDivGame {
  display: flex;
  justify-content: center;
}


.hideGame {
  opacity: 0;
  cursor: default;
  width: 0px;
}

.uiGame {
  display: inline-block;
  margin: 20px 0;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  color: #FD4F00;
  background-color: #FFFFFF;
}  

.vaikeusTekstiGame{
  font-size: 20px;
  display: block;
  padding: 40px;
  margin: 10px 0 0;
  background-color: #FFFFFF;
  color: #000000;
}

.vinkkiGame{
  font-size: 18px;
  font-weight: 600;
  color: #BD2719;
  margin: auto;
  margin-top: 10px;
  width: 30%;
  padding: 10px;
  border-color: #BD2719;
  border-width: 5px;
  border-style: solid;
}