/* APP STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-columns: 25vw auto;
  grid-auto-rows: minmax(100vh, auto);
  background-color: #f1f1f1;
}

nav {
  width: 25vw;
  min-height: 100%;
  background-color: #0618bb;
  color: #ffffff;
}

nav h1 {
  font-size: 1.2em;
  margin: 30px;
  text-align: left;
}

nav ul {
  list-style: none;
  text-align: left;
  line-height: 1.5;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
}

nav ul li a:hover,
a:active {
  background-color: black;
}

.aalto-element {
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  background-image: url("aalto.svg");
  position: fixed;
  left: 23vw;
}

.content {
  z-index: 1;
}

.Link {
  color: #ffffff;
}

/* TIETOTURVA STYLES */

.formTietoturva input {
  padding: 0.5rem;
  margin: 1rem;
  border: 0;
  font-size: 20px;
}

.formTietoturva label {
  font-size: 18px;
  margin: 0 2rem 2rem 0;
}

.formTietoturva ul {
  list-style-type: none;
}

/* TIPPUVAKIRJAIN STYLES */

.containerBlockGame {
  margin-top: 10px;
  padding: 20px;
  background-color: #FFFFFF;
}

.emptyGame {
  margin: 0px;
  color: #FFFFFF;
}

.fallingGame {
  text-align: center;
  margin: 20px 30px 10px;
}

.letterClassGame{
  display: inline-block;
  background: #FFFFFF;
  height: 550px;
  width: 1000px;
  border-style: solid;
  border-width: 5px;
  border-color: #9FC9EB;
}

.lettersGame {
  text-align: center;
  border-style: none;
  letter-spacing: 3px;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  width: 35px;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Oxygen';
  display: inline-table;
  background-color: #FD4F00;
  color: #FFFFFF;
}

.letters_lostGame {
  color: #0000BF;
}

.ohjeGame {
  display: block;
  padding: 40px;
  margin: 10px 0;
  text-align: left;
  background-color: #FFFFFF;
  color: #000000;
}

.pisteetGame {
  color: #FD4F00;
  border-color: #9FC9EB;
  margin: 30px 50px;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
}

.startbtnGame {
  background-color: #0000BF; 
  color: #FFFFFF;
  padding: 10px 22px;
  margin: 40px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 25px; 
}

.startbtnGame:hover {
  background-color: #000000;
}

.tryGame {
  background-color: #0000BF; 
  color: #FFFFFF;
  padding: 10px 22px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 25px; 
}

.tryGame:hover {
  background-color: #000000;
}

.uiDivGame {
  display: flex;
  justify-content: center;
}


.hideGame {
  opacity: 0;
  cursor: default;
  width: 0px;
}

.uiGame {
  display: inline-block;
  margin: 20px 0;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  color: #FD4F00;
  background-color: #FFFFFF;
}  

.vaikeusTekstiGame{
  font-size: 20px;
  display: block;
  padding: 40px;
  margin: 10px 0 0;
  background-color: #FFFFFF;
  color: #000000;
}

.vinkkiGame{
  font-size: 18px;
  font-weight: 600;
  color: #BD2719;
  margin: auto;
  margin-top: 10px;
  width: 30%;
  padding: 10px;
  border-color: #BD2719;
  border-width: 5px;
  border-style: solid;
}

/* TIPPUVASANA STYLES */

.containerBlockWords {
  margin-top: 10px;
  padding: 20px;
  background-color: #FFFFFF;
}

.emptyWords{
  margin: 0px;
  color: #FFFFFF;
}

.fallingWords {
  text-align: center;
  margin: 20px 30px 10px;
}

.hidebuttonWords {
  display: none;
}

.letterClassWords {
  display: inline-block;
  background: #FFFFFF;
  height: 550px;
  width: 1000px;
  border-style: solid;
  border-width: 5px;
  border-color: #9FC9EB;
}

.letters_lostWords {
  color: #0000BF;
}

.lettersWords {
  text-align: center;
  border-style: none;
  letter-spacing: 3px;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  width: 35px;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  display: inline-table;
  background-color: #FD4F00;
  color: #FFFFFF;
}

.ohjeWords {
  display: block;
  padding: 40px;
  margin: 10px 0;
  text-align: left;
  background-color: #FFFFFF;
  color: #000000;
}

.pisteetWords {
  color: #FD4F00;
  border-color: #9FC9EB;
  margin: 30px 50px;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
}

.startbtnWords {
  background-color: #0000BF; 
  color: #FFFFFF;
  padding: 10px 22px;
  margin: 40px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 25px; 
}

.startbtnWords:hover {
  background-color: #000000;
}

.tryWords{
  background-color: #0000BF; 
  color: #FFFFFF;
  padding: 10px 22px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 25px; 
}

.tryWords:hover {
  background-color: #000000;
}

.uiDivWords {
  display: flex;
  justify-content: center;
}

.uiWords {
  display: inline-block;
  margin: 20px 0;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  color: #FD4F00;
  background-color: #FFFFFF;
}

.vaikeusTekstiWords {
  font-size: 20px;
  display: block;
  padding: 40px;
  margin: 10px 0 0;
  background-color: #FFFFFF;
  color: #000000;
}

.wordInputWords {
  border-style: solid;
  border-width: 2px;
  border-color: #0000BF;
  border-radius: 0;
  font-size: large;
  font-weight: 800;
  width: 600px;
  margin: 10px;
}

.wordInputWords::placeholder {
  color: lightgray;
  font-size: smaller;
  opacity: 1;
}

.vinkkiWords{
font-size: 18px;
font-weight: 600;
color: #BD2719;
margin: auto;
margin-top: 10px;
width: 30%;
padding: 10px;
border-color: #BD2719;
border-width: 5px;
border-style: solid;
}

/* VEDAPUDOTA STYLES */

.containerDrag {
  margin-top: 10px;
  padding: 20px;
  background-color: #FFFFFF;
}

.dragCont {
  text-align: center;
  margin: 20px 30px 10px;
}

.victoryClass{
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-top: -500px;
  position: absolute;
  background-image: url("./Tehtävät/Vedä&Pudota/Pictures/Explode.png");
  background-size: cover;
}

.victoryClassFire{
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-top: -500px;
  position: absolute;
  background-image: url("./Tehtävät/Vedä&Pudota/Pictures/Firework.png");
  background-size: cover;
}

.canvas{
  height: 600px;
  width: 600px;
  margin-left: 100px;
  margin-top: 50px;
  background-image: url("./Tehtävät/Vedä&Pudota/Pictures/tree.png");
  background-size: cover;
}
.basket1{
  height: 130px;
  width: 200px;
  transform: translate3d(400px, 470px, 0px);
  position: absolute;
  background-image: url("./Tehtävät/Vedä&Pudota/Pictures/basket.png");
  background-size: cover;
}

.rabbit{
  height: 130px;
  width: 130px;
  transform: translate3d(50px, 470px, 0px);
  position: absolute;
  background-image: url("./Tehtävät/Vedä&Pudota/Pictures/rabbit.png");
  background-size: cover;
}

.ohjeDrag{
  display: block;
  padding: 40px;
  margin: 10px 0;
  text-align: left;
  background-color: #FFFFFF;
  color: #000000;
}

.dragObject{
  height: 52px;
  width: 45px;
  border-radius: 25%;
  position: absolute;
  background-size: cover;
  -webkit-filter: drop-shadow(2px 1px 0 white)
  drop-shadow(-1px 1px 0 white)
  drop-shadow(1px -1px 0 white)
  drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(2px 1px 0 white)
  drop-shadow(-1px 1px 0 white)
  drop-shadow(1px -1px 0 white)
  drop-shadow(-1px -1px 0 white);
}

.apple{
  background-image: url("./Tehtävät/Vedä&Pudota/Pictures/apple.png");
}

.pear{
  background-image: url("./Tehtävät/Vedä&Pudota/Pictures/Pear.png");
}

.carrot{
  background-image: url("./Tehtävät/Vedä&Pudota/Pictures/carrot.png");
}

/* FORM STYLES */

.degree {
  font-size: 20px;
  text-align: left;
}

.degree-name {
  text-align: left;
}

.error-message {
  color: #fd4f00;
  text-align: left;
  padding-bottom: 10px;
}

.form-box {
  margin: 20px 30px 10px;
}

.form-box input {
  display: block;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 600px;
  border: 0;
  font-size: 20px;
  text-align: left;
}

.form-box label {
  display: block;
  text-align: left;
  font-size: 20px;
  margin: 0, 0, 2rem, 0;
}

.form-box textarea {
  height: 15rem;
  display: block;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 600px;
  border: 0;
  font-size: 20px;
  text-align: left;
}

.instructions {
  display: block;
  padding: 40px;
  margin: 10px 0;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
}

select {
  display: block;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 600px;
  border: 0;
  font-size: 20px;
  text-align: left;
}

.content {
  z-index: 1;
}

/* CORE ELEMENTS */

.mainPageFrame {
  text-align: center;
  margin: 20px 30px 10px;
}

.pageHeader {
  text-align: center;
  display: block;
  padding: 10px;
  background-color: #9FC9EB;
  color: #000000;
  font-size: 1.5em;
}

.pageContentFrame {
  display: block;
  padding: 40px;
  margin: 10px 0;
  text-align: left;
  background-color: #FFFFFF;
  color: #000000;
}

.infoHeader {
  color: #FD4F00;
  padding-bottom: 10px;
}

/* BUTTONS */

.actionButton {
  background-color: #0000BF; 
  color: #FFFFFF;
  padding: 10px 22px;
  margin: 40px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 25px; 
}

.actionButton:hover {
  background-color: #000000;
}

.nextPracButton {
  background-color: #9fc9eb;
  border-style: none;
  color: #000000;
  padding: 10px 22px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
}

.nextPracButton:hover {
  background-color: #000000;
  color: #ffffff;
}

/* TEXTAREA */

.textWritingArea {
  min-width: 100%;
  resize: none;
  border-color: #9FC9EB;
  border-style: solid;
  border-width: 5px;
  margin-top: 10px;
  font-size: 1.5em;
}

.textWriteKirjoitus {
  min-height: 200px;
}

.textWriteMuokkaus {
  min-height: 350px;
}

.textWriteKopiointi {
  min-height: 100px;
}