* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-columns: 25vw auto;
  grid-auto-rows: minmax(100vh, auto);
  background-color: #f1f1f1;
}

nav {
  /* position: sticky; */
  width: 25vw;
  min-height: 100%;
  background-color: #0618bb;
  color: #ffffff;
}

nav h1 {
  font-size: 1.2em;
  margin: 30px;
  text-align: left;
}

nav ul {
  list-style: none;
  text-align: left;
  line-height: 1.5;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
}

nav ul li a:hover,
a:active {
  background-color: black;
}

.aalto-element {
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  background-image: url("aalto.svg");
  position: fixed;
  left: 23vw;
}

.content {
  z-index: 1;
}

.Link {
  color: #ffffff;
}
