* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 20vw auto;
  background-color: aliceblue;
}

nav {
  position: sticky;
  top: 50px;
  height: 100vh;
  background-color: cadetblue;
}

nav ul {
  list-style: none;
  text-align: center;
}

li {
  display: block;

}

.content {
  height: 100vh;
}

.Link {
  color: blue;
}
